{% extends 'templates/template.html' %}

{% block title %}CSV and XLSX (Excel) Converter{% endblock %}

{% block content %}Convert your csv files to xlsx and vice versa{% endblock %}

{% block card %}

<div class="card">
      <form action="/convert-file" method="POST" enctype = "multipart/form-data" id="card-body" class="card-body">
        <div class="input-group mb-3">
            <input type="file" name="file" id="selectedFile" style="display: none;" onchange="getFileData(this)" />
            <button class="btn btn-success" type="button" id="inputGroupFileAddon03" onclick="document.getElementById('selectedFile').click();">Select archive</button>
            <label class="form-control form-control-lg" id="formFileLg" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                <span></span>
            </label>
          </div>

          <button style="display:none" id="convert-btn" type="submit" class="justify-content-center btn btn-success shadow rounded-2 btn-lg">Convert File</button>
      </form>
</div>
{% endblock %}